CREATE TABLE `cache_layer_{{.CacheLayerID}}_measures_{{.MeasureType}}` (
  `cache_layer_{{.CacheLayerID}}_id` bigint(20) NOT NULL,
  `measure_aggregation_id` smallint(6) NOT NULL,
  `value` float DEFAULT NULL,
  `start_timestamp` timestamp(6) GENERATED ALWAYS AS ROW START INVISIBLE,
  `end_timestamp` timestamp(6) GENERATED ALWAYS AS ROW END INVISIBLE,
  PRIMARY KEY (`cache_layer_{{.CacheLayerID}}_id`,`measure_aggregation_id`,`end_timestamp`),
  KEY `cache_layer_{{.CacheLayerID}}_measures_{{.MeasureType}}_idx` (`cache_layer_{{.CacheLayerID}}_id`,`end_timestamp`) USING BTREE,
  PERIOD FOR SYSTEM_TIME (`start_timestamp`, `end_timestamp`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 WITH SYSTEM VERSIONING
 PARTITION BY LINEAR HASH (`cache_layer_{{.CacheLayerID}}_id`)
PARTITIONS {{.Partitions}};